<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 792px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
          <h1>
                  Project Name
                  <!-- <small>#007612</small> -->
              </h1>
  </section>
  <!-- <section class="content-header">
      <div class="row">
          <div class="col-md-12">        <h1>
              
          </h1></div>
      </div>
  </section> -->
  <!-- Main content -->
  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
            <div class="col-md-12">
                              <!-- general form elements -->
                              <div class="box box-info">
                                  <div class="box-header with-border">
                                      <h3 class="box-title"> <i class="glyphicon glyphicon-plus"></i> Add Team</h3>
                                    </div>
                                    <!-- input box styling is bootstrap 3.3.7 -->
                                  <!-- /.box-header -->
                                    <!-- form start -->
                                    <form class="form-horizontal">
                                      <div class="box-body">
                                              <div class="row">
                                                      <div class="col-md-12">
                                                              <div class="form-group">
                                                                  <label for="" class="col-sm-4 control-label">Team ID</label>
                                                                  <div class="col-sm-5">
                                                                      <input type="text" class="form-control" id="" placeholder="Team ID" [(ngModel)]="teamId" name="teamId">
                                                                  </div>
                                                              </div>
                                                              <div class="form-group">
                                                                  <label for="" class="col-sm-4 control-label">Team Name Th</label>
                                                                  <div class="col-sm-5">
                                                                      <input type="text" class="form-control" id="" placeholder="Team Name Th" [(ngModel)]="teamNameTh" name="teamNameTh">
                                                                  </div>
                                                              </div>
                                                              <div class="form-group">
                                                                  <label for="" class="col-sm-4 control-label">Team Name</label>
                                                                  <div class="col-sm-5">
                                                                      <input type="text" class="form-control" id="" placeholder="Team Name" [(ngModel)]="teamName" name="teamName">
                                                                  </div>
                                                              </div>                
                                                              <div class="form-group">
                                                                  <label for="" class="col-sm-4 control-label">Description</label>
                                                                  <div class="col-sm-5">
                                                                          <textarea class="form-control" rows="3" placeholder="Description" name="description" [(ngModel)]="description"></textarea>
                                                                  </div>
                                                              </div>
                                                      </div>
                                                      <!-- /.col -->

                                                      </div>
                                      </div>
                                      <!-- /.box-body -->
                                      <div class="box-footer" style="text-align:center;">
                                        <button (click)="onAdd()" class="btn btn-primary">Save</button>
                                        <button (click)="goBack()" class="btn btn-default">Cancel</button>
                                      </div>
                                      <!-- /.box-footer -->
                                    </form>
                                    <!-- form end -->


                                </div>
                              <!-- /.box -->
            </div>


            </div>
      
      
          
          
      <!-- /.row (main row) -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->