<aside class="main-sidebar" style="min-height: 100%;">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <!-- <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
      </li> -->
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-laptop"></i> <span>Project Name</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/user"><i class="fa fa-circle-o"></i> User</a></li>
          <li class="treeview">
            <a routerLink="/group"><i class="fa fa-circle-o"></i> Group
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/group"><i class="fa fa-circle-o"></i> Group</a></li>
              <!-- <li><a routerLink="/user-group"><i class="fa fa-circle-o"></i> User Group</a></li>
              <li><a routerLink=""><i class="fa fa-circle-o"></i> Group Menu Binding</a></li> -->
            </ul>
          </li>
          <li class="treeview">
              <a routerLink="/role"><i class="fa fa-circle-o"></i> Role
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/role"><i class="fa fa-circle-o"></i> User Role</a></li>
                <!-- <li><a routerLink=""><i class="fa fa-circle-o"></i> Role Privileges Binding</a></li> -->
              </ul>
            </li>
          <li><a routerLink="/dept"><i class="fa fa-circle-o"></i> Department</a></li>
          <li><a routerLink="/team"><i class="fa fa-circle-o"></i> Team</a></li>
          <li><a routerLink="/branch"><i class="fa fa-circle-o"></i> Branch</a></li>
          <li class="treeview">
            <a routerLink="/service"><i class="fa fa-circle-o"></i> Service
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="/service"><i class="fa fa-circle-o"></i> Service</a></li>
              <li><a routerLink="/service-menu"><i class="fa fa-circle-o"></i> Service Menu</a></li>
            </ul>
          </li>

        </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>